{% extends "base.html" %}

{% block body %}

<div class="col-md-4">
{% for post in post_data %}
<div class="col-mb-4 index">
  {% if post.image %}
  <img class="card-img-top index-img" src="{{ post.image.url }}" alt="" />
  {% endif %}
  <div class="card-body">
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
    <div class="btn btn-warning">詳細</div>
  </div>
  <div class="card-footer text-muted">
    {{ post.created|date }} by {{ post.author }}
  </div>
  <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
</div>
{% endfor %}
</div>


{% endblock %}
