{% extends "base.html" %}

{% block body %}

{% load widget_tweaks %}

<nav class="d-flex bg-white border-bottom shadow-sm d-flex justify-content-between" height="50px">
  <div class="container-fluid justify-content-around">
    <ul>
    <a class="navbar-brand" href="#">自然科学</a>
    <a class="navbar-brand" href="#">社会科学</a>
    <a class="navbar-brand" href="#">人文科学</a>
    <a class="navbar-brand" href="#">芸術・音楽</a>
    <a class="navbar-brand" href="#">ファッション</a>
    <a class="navbar-brand" href="#">スポーツ</a>
    <a class="navbar-brand" href="#">旅行</a>
    <a class="navbar-brand" href="#">料理</a>
    <a class="navbar-brand" href="#">趣味・その他</a>
  </ul>
  </div>
</nav>

<div class="row my-4">
<div class="col-md-8">
    {% for post in post_data %}
    <div class="card mb-4 index">
      {% if post.image %}
      <img class="img-thumbnail w-20 h-20 index-img" src="{{ post.image.url }}" alt="" />
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content|truncatechars:100 }}</p>
        <div class="btn btn-warning">詳細</div>
      </div>
      <div class="card-footer text-muted">
        {{ post.created|date }} by {{ post.author }}
      </div>
      <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}
